PUBLIC_IP=YOUR_PUBLIC_SERVER_IP
SIGNALING_PORT=4141
TURN_PORT=3478
TURN_MIN_PORT=49160
TURN_MAX_PORT=49200
TURN_USER=remote
TURN_PASSWORD=change-this-long-random-password
TURN_REALM=remote-control-mvp
